##############################
## Java
##############################
.mtj.tmp/
javadoc/
*.class
*.jar
*.png

##############################
## Gradle
##############################
.gradle/
target/
build/
gradlew
gradlew.bat
.DS_Store

##############################
## IntelliJ
##############################
.idea/